<!DOCTYPE html>
<html>

<head>
    <title>Festival der Mechatronischen Künste</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="stylesheets/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
</head>
<body>

  <!-- Wrapper -->
  <div id="wrapper">

    <!-- Header -->
    <header id="header" class="alt">
        <span class="logo"><h1>Artists</h1></span>
        <h1>Festival der Mechatronischen Künste</h1>
        <p>29. - 31. Juli 2016
            <br />
            Kunstraum Walcheturm, Zürich<br />
            Wir feiern 10 Jahre <a href="http://www.mechatronicart.ch">SGMK</a>.
        </p>
    </header>
    <div id="main">

        <section id="intro" class="main">
            <div>



                <a href="#roman" class="artist">      <h4>Roman</h4></a>
                <p>
                    Der Koch!
                </p>


                <section class="artist">
                    <a href="#kamikaze">
                        <h4>DIY Kamikaze Orchester (CH)</h4>
                        <p>
                            No bio yet :-)
                        </p>
                    </a>
                </section>
                <section class="artist">
                    <a href="#uwe">
                        <h4>Uwe Schüler</h4>
                        <p>
                            Uwe Schüler ist Elektronikingenier. Er entwickelt und baut Licht- und Klangkunst, insbesondere experimentelle elektronische Musikinstrumente.
                        </p>
                    </a>
                </section>
                <section id="claude" class="artist">
                    <h4>Claude Treptow</h4>
                    <p>

                    </p>
                </section>
                <section class="artist">
                    <a href="#anna">
                        <h4>Anna Cholinska</h4>
                        <p>
                            Geboren 1973 in Warschau/PL, lebt und arbeitet Cho Linska heute in Zürich. Ihre Arbeiten bewegen sich frei im Schnittfeld von Bild, Objekt, Comic und Illustration und haben nicht selten installativen Charakter. Sie tauchen sowohl in Galerien, wie auch im Umfeld subkultureller Festivals auf oder sie besetzen Nischen im öffentlichen Raum der Stadt. Die Ästhetik des spontan Handgezeichten trifft auf präzise, geometrische Elemente, die mittels Laser in Sperrholz oder Wabenpappe geschnitten werden, bevor sie mit Kohle, Tusche, Dispersion und Sprayfarbe zu lebhaften Figuren ausgestaltet werden. Nicht selten ist die opulente Materialschlacht elektromechanisch animiert, denn CHO LINSKAs Herz schlägt auch für DIY-Kultur und rauchende Lötkolben.
                        </p>
                    </a>
                </section>
                <section class="artist">
                    <a href="#claude">
                        <h4>Claude Treptow</h4>
                        <p>

                        </p>
                    </a>
                </section>


            </div>
        </section>

    </div>
</div>
</body>