<!DOCTYPE html>
<html>

<head>
    <title>Festival der Mechatronischen Künste</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <!-- rev-hash -->
    <link rel="stylesheet" href="stylesheets/main.css" />
    <!-- end -->
    <link rel="stylesheet" href="stylesheets/leaflet.css" />
    <script src="js/leaflet.js"></script>
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
</head>
<body>

  <!-- Wrapper -->
  <div id="wrapper">

    <!-- Header -->
    <header id="header" class="alt">
        <span class="logo"><img src="images/stempel_reworked_white.png" alt="" /></span>
        <h1>Festival der Mechatronischen Künste</h1>
        <p>29. - 31. Juli 2016<br />
            Kunstraum Walcheturm, Zürich<br />
            Wir feiern 10 Jahre <a href="http://www.mechatronicart.ch">SGMK</a>.</p>
        </header>

        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li><a href="#intro" class="active">Das Festival</a></li>
                <li><a href="#freitag">Freitag</a></li>
                <li><a href="#samstag">Samstag</a></li>
                <li><a href="#sonntag">Sonntag</a></li>
                <li><a href="#ausstellung">Ausstellung</a></li>
                <li><a href="#ort">Ort</a></li>
                <li><a href="#about">Credits</a></li>
            </ul>
        </nav>

        <!-- Main -->
        <div id="main">

            <!-- Introduction -->

            <section id="intro" class="main special">

                <header class="major">
                    <h2>10 Jahre SGMK</h2>
                </header>
                <div style="text-align: left; margin-top: -20px; text-align: justify; font-weight: bolder;">
                    <p>
                        In der Schweizerischen Gesellschaft für Mechatronische Kunst (SGMK) werden Geräte zusammengebaut, auseinandergenommen, abgeändert. Es werden Objekte hergestellt, Spielzeuge und Hilfsmittel. Die SGMK setzt sich dabei kritisch mit Medien und Technologien auseinander.

                        Am Festival gibt es ein Workshop-Programm für Kinder und Erwachsene, es gibt eine Ausstellung des Netzwerks und Freunde der SGMK, es gibt Raum für Gespräche und es gibt Performances, Konzerte und eine Party.

                        Die Schweizerische Gesellschaft für Mechatronische Kunst hat viele Gesichter in der ganzen Schweiz zusammengebracht und ist dadurch Angelpunkt für Inspirationen und technische Entwicklungen. Und das seit genau 10 Jahren.

                        Vom 29. bis 31. Juli veranstaltet dieser Verein im Kunstraum Walcheturm in Zürich ein Festival mit vielen Bekanntschaften aus diesen 10 Jahren. Das Programm wird vielseitig sein, ein wenig chaotisch wie das Schaffen der Leute und des Vereins selbst.
                    </p>
                </div>

            </section>


            <!-- freitag Section -->
            <section id="freitag" class="main special">
                <header class="major">
                    <h2>Freitag</h2>
                    <h5>29. Juli 2016, 19:00 - 24:00</h5>
                </header>

                <h1>Eröffnung</h1>
                <h5>19:00</h5>
                <p>
                 Eröffnung Ausstellung
             </p>
             <h5>19:30</h5>
             <p>
                <h4>Eröffnungsrede mit Raffael Dörig</h4>
                10 Jahre der Zusammenarbeit mit der SGMK.<br />Ehemaliger Kurator Plug-In und Shift Festival, Basel. Direktor Kunsthaus Langenthal.</p>

                <h5>20:00</h5>
                <p>
                    SGMK Festival Apéro
                </p>
                <h5>20:00</h5>
                <h4>10 Years SGMK Workshop - Bau dir den Jubiläums micro_noise!!!</h4>
                <p>
                    Mit dem Workshop „micro_noise“ hat die SGMK seit 10 Jahren viele Leute auf der ganzen Welt für DIY (do-it-yourself) und elektronische Musik begeistern können, an Medienkunst-Festivals, in Schulen und Museen. Die Jubiläums-Edition der kleinen Lärm-Schaltung ist sowohl der Festival-Pass zum Selbermachen, wie auch ein Musikinstrument zum nach Hause nehmen. „micro_noise“ ist ein elektronischer Lo-Fi Synthesizer mit Lichtsensor und LFO Generator. Die Workshops der SGMK verbinden Kunst und Technologie mit Selbermachen und begeistern mit ihrer Einfachheit auch technikferne Leute jeden Alters!
                </p>
                <h1>Performances / Konzerte</h1>
                <h5>21:00</h5>
                <p>
                    <h4><a href="/artists.html#ralf">Ralf Schreiber (DE)</a></h4>
                    <img src="images/RalfSchreiber_konzert2.jpg" /><br />
                    Schattenspiel und Klangprojektion
                </p>
                <p>
                    <h4>Steve Octane Trio</h4>
                    Die Freiburger Tüftler und Musiker François Gendre, Michael Egger und Vincent Perrenoud laden auf ihre Klangbaustelle aus allerlei elektronischen Instrumenten und elektrischen Handwerkzeugen ein. Ihre Pfeif-Klimper-Schepper-Tröt-Maschinen haben nicht nur ein raffiniertes technisches Innenleben, sie entwickeln mit poetischem Charme und einem gewissen Starrsinn auch ein Eigenleben, das Aug und Ohr erfreut...
                    <br /><br />
                    <img src="images/STEVE_OCTANE_TRIO.jpg" /><br />
                    François Gendre - machines | Michael Egger - guitar | Vincent Perrenoud - keys (remote)
                    <a href="http://anyma.ch/blogs/raoul.hublot/">http://anyma.ch/blogs/raoul.hublot/</a>
                </p>
                <p>
                    <h4><a href="/artists.html#mono">Kasia Justka (PL/DE)</a></h4>
                    <img src="images/kasjust01.jpg"  /> <br />
                    Audio- visuelle Performance
                </p>
                <h2>Live acts</h2>
                <h5>22.30</h5>
                <p>
                    <h4><a href="/artists.html#asic">Asic (LIVE)</a></h4>
                </p>
                <p>
                    <h4><a href="/artists.html#omegaattraktor">Omega Attraktor</a></h4>
                    <img src="images/omegaattraktor_live_hey.jpg" />
                    <img src="images/omega_attraktor_live_raza.jpg" />
                </p>
                <footer class="major">

                </footer>
            </section>

            <!-- SAMSTAG Section -->
            <section id="samstag" class="main special">
                <header class="major">
                    <h2>Samstag</h2>
                    <h5>30. Juli 2016, 16:00 - 01:00</h5>
                </header>

                <h3>Workshops</h3>
                <h5>16:00</h5>

                <h4>Sonnensänger</h4>
                <span>Leitung: <a href="/artists.html#kgs">Uwe Schüler / Jördis Drawe</a></span>
                <p>Ein kurzer Workshop von Uwe und Jördis aus den Anfängen der SGMK. Bilder von damals gibt es <a href="http://www2.kulturprozent.ch/scienceandfuture/fotos/v/homemade06/romainmotier/">hier</a>.
                    <br />
                    <img src="images/hm-06-romainmot-026.JPG" />
                </p>

                <h4>Vibra_Wire_Bot</h4>
                <span>Leitung: <a href="/artists.html#hauert-reichmuth">Daniel Reichmut</a></span>
                <p>
                    Der Vibra_Wire_Bot ist eine einfache Verbindung mit Draht zwischen Motor und Energiequelle. Der Draht, irgendwie gebogen, erzeugt chaotisch steuerbare Bewegungen – angetrieben von einem Vibrationsmotor. Jede individuell gebogene Form ist Auslöser für ein neues Bewegungsmuster. Die kleine Draht_Vibrations_Maschine kann wie auch immer erweitert werden, z.B. mit einer Zahnbürste (Bristle Bot) oder einfach mit dem was gerade rumliegt :) Die Energiequelle kann eine Solarzelle oder auch eine Akku-Knopfzelle sein.<br />
                    <a target="_blank" href="http://www.hei.do/vibra_wire_bot/">hei.do</a><br />
                    <img src="images/Vibra_Wire_Bot_01.jpg" />
                    <img src="images/Vibra_Wire_Bot_02.jpg" />
                </p>

                <h4>Overheadbots Workshop</h4>
                <span>Leitung: <a href="/artists.html#ralf">Ralf Schreiber</a></span>
                <p>Die Teilnehmer bauen ihren eigenen Overheadbot. Im ersten Schritt werden die kleinen, selbständig sich bewegenden Solarroboter nach dem Schaltplan zusammengelötet. Im zweiten Schritt geht es dann darum, mit dem Roboter und dem Hellraumprojektor sich bewegende Bilder zu erstellen. Verschiedene Formen und Muster entstehen durch verschiedenen Farben und Materialien. Diese werden gross auf die Leinwand projiziert.</p>

                <h3>Ausstellungsprogramm</h3>
                <h5>18:00</h5>
                <h4>Demonstrationen</h4>
                <p>
                    Die Installationen und Aufführungsobjekte werden vorgestellt.
                </p>
                <h4>Podiumsdiskussionen</h4>
                <p>
                    Jana Honegger - Politik und Technik
                </p>
                <h4>Open-Jam und Demo-Performances</h4>
                <p>
                    Eurorack Modular Jam<br />
                    mit Claude Treptow, <a target="_blank" href="https://www.facebook.com/groups/581725148644484/">Modular Synth Group Zürich</a><br /> und weiteren
                </p>

                <h3>Performances / Konzerte</h3>
                <h5>21:00</h5>
                <h4><a href="/artists.html#kamikaze">Kamikaze Orchester</a></h4>
                <p>
                    Das Kamikaze Orchester hat für die SGMK historische Bedeutung. Es hat zur Zusammenarbeit und Dynamik der vielen Vereinstätigkeiten beigetragen. Nach dem Prinzip der Improvisation und von "ALLES ODER NICHTS" wird LIVE die Musik wortwörtlich und kollaborativ zusammengelötet. Es ist das materielle Pendent zum Live-Coding. Am Festival erwecken wir diese archaische Musikform wieder zum Leben.
                    <br />
                    Artists: HomeMade Allstars (Oli, Urs, Stahl, Marc, Effi, Dani, ...)
                </p>
                <h4>Audio-Visuelle Lichtgitarre</h4>
                <p>The I.S.R.O. - <a href="/artists.html#theisro">Yashas Shetty (IN)</a><br />
                    <img src="images/ISRO_YashasShetty.png" />
                </p>
                <h4>Randensonate</h4>
                <p><a href="/artists.html#W3rkH0f">W3rkH0f</a> media arts - Jana Honnegger & Kent Clelland<br />
                    <img src="images/W3rkh0f_randensonate.jpg" />
                </p>
                <h4>Kaleidochord Video-Performance</h4>
                <p><a href="/artists.html#anyma">Michael Egger</a> feat. Kaleidochord<br />
                    <img src="images/MichaelEgger_Kaleidochord.jpg" />
                </p>
                <h4>Der Warst spielt Telefon</h4>
                <p><a href="/artists.html#mono">Der Warst - Simon Schäfer (DE)</a><br />
                    <img src="images/simonschaefer_derWarst.png" /><br />
                    Laut und bunt! Und dann alle bewegen bitte!
                </p>
                <h4>Weitere Live Acts</h4>
                <p><a href="/artists.html#flipfloater">FlipFloater</a><br />
                    <img src="images/FlipFloater-Live2-1024x768.jpg" />
                </p>

                <footer class="major">
                </footer>
            </section>

            <!-- SONNTAG -->
            <section id="sonntag" class="main special">
                <header class="major">
                    <h2>Sonntag</h2>
                    <h5>31. Juli 2016, 13:00 - 18:00</h5>
                </header>
                <h3>Workshops</h3>
                <h5>13:00</h5>
                <p>Brunch-Workshops (die Lötkolben nicht kalt werden lassen!)</p>

                <h4>Laser WaterGun</h4>
                <span>Leitung: <a href="/artists.html#effi">Effi Tanner</a></span>
                <!--
                <p>Ein kurzer Workshop von Uwe und Jördis aus den Anfängen der SGMK. Bilder von damals gibt es <a href="http://www2.kulturprozent.ch/scienceandfuture/fotos/v/homemade06/romainmotier/">hier</a>.
                    <br />
                    <img src="images/hm-06-romainmot-026.JPG" />
                </p>-->

                <footer class="major">
                    <ul class="actions">
                    </ul>
                </footer>
            </section>

            <section id="ausstellung" class="main special">
                <header class="major">
                    <h2>Ausstellung</h2>
                </header>
                <h5></h5>
                <h3>Community Beiträge</h3>
                <h4>Das erste SGMK-Ding, HomeMade-Ausstellung</h4>
                <p>
                    Freunde der SGMK stellen ihr erstes Projekt im Zusammenhang mit dem Verein vor. Ebenso werden Projekte der HomeMade Woche vorgestellt, die unmittelbar vor dem Festival stattfindet.
                </p>

                <h4>SGMK-Bausätze-Sammlung im Überblick!</h4>
                <p>
                    Ein Kern der Tätigkeiten der SGMK ist das Entwickeln und Durchführen von Workshops für Kinder, Jugendliche und Erwachsene. Dafür sind viele sogenannte MakeAways entstanden, also Objekte, die man vor Ort in kurzer Zeit selbst zusammenlöten und -bauen kann und dann gleich mitnehmen kann. Wir stellen den Besuchern einen Fundus dieser Entwicklungen vor, die man zum Teil gleich selbst vor Ort nachbauen kann.
                </p>
                <h3>Arbeiten</h3>
                <h4>Dr Doppler</h4>
                <p>
                    <a href="/artists.html#donovan">Adam Donovan</a><br />
                    <img src="images/donovan.jpg" />
                    <img src="images/dr doppler lights.jpg" />
                </p>
                <h4><a href="http://anyma.ch/research/kaleidochord/">Kaleidochord</a></h4>
                <p>
                    <a href="/artists.html#anyma">Michael Egger</a>
                </p>
                <h4>Modular Ecke</h4>
                <p>
                    <a target="_blank" href="http://seismic.industries">Raffael Segmüller</a><br />
                    <a href="/artists.html#claude">Claude Treptow</a><br />
                    <a target="_blank" href="http://www.xn--klangbaukln-zfb.de/">Klangbau Köln</a><br />
                    ...
                </p>
                <h4>I don't want to hear anymore mechanical sound in my surrounding, by P.K.ZY</h4>
                <p>
                    <a href="/artists.html#pei">Pei-Wen Liu</a>
                </p>


                <h4>Prototype 01 - Art as Diverter</h4>
                <p>
                    <a href="/artists.html#baggenstos">Baggenstos Rudolf</a><br />
                    <img src="images/BaggenstosRudolf_ArtDiverter.jpg" />
                </p>
            </section>

            <section id="ort" class="main special">
                <header class="major">
                    <h2>Ort</h2>
                    <p>
                        Der <a href="http://www.walcheturm.ch">Kunstraum Walcheturm</a> befindet sich beim Kasernenhof, einem öffentlichen Platz, Wiese und Garten, der vom alten Kasernengebäude umgeben ist.
                    </p>
                    <p>
                        Adresse: Kanonengasse 20, 8004 Zürich
                    </p>
                    <div id="mapid"></div>
                </header>
            </section>

            <section id="about" class="main special">
                <header class="major">
                    <h2>Sponsoren & Partner</h2>
                    <p>
                        Das Festival der Mechatronischen Künste wird organisiert und getragen durch die aktiven Mitglieder der SGMK und ihrer Partnernetzwerke. Wir danken unserem Partner für den Veranstaltungsort <a target="_blank" href="http://walcheturm.ch">Kunstraum Walcheturm</a> und der Förderung des Migros Kulturprozent und des Migros Genossenschaftsbund Zürich.
                    </p>
                    <p>
                        <a href="files/2016_SGMK_festival_Pressemitteilung_complete.pdf">Pressemitteilung</a>
                    </p>
                </header>
                <footer class="major">
                    <div id="sponsor-container">
                        <div class="sponsor-left">
                            <ul id="sponsor-principal" class="sponsor">
                                <li class="sponsor"><a target="_blank" href="http://www.mechatronicart.ch" style="border: none;"><img style="width: 100%; height: 50%;" src="images/sgmk_logo_text_380.png" /></a></li>
                                <li class="sponsor"><a target="_blank" href="http://www.migros-kulturprozent.ch/de/home" style="border: none;"><img style="width: 50%; height: 100%;" src="images/migros.png" /></a></li>
                            </ul>
                        </div>
                    </div>
                </footer>
            </section>

        </div>

        <!-- Footer -->
        <footer id="footer">
            <section>
                <!--<img src="images/sgmk_logo_text.png" />-->
            </section>
            <!--<p class="copyright">Design: <a href="https://html5up.net">HTML5 UP</a>.</p>-->
            <p class="copyright"><a href="http://www.mechatronicart.ch">Schweizerische Gesellschaft für Mechatronische Kunst</a></p>
        </footer>

    </div>


    <!-- Scripts -->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.scrollex.min.js"></script>
    <script src="js/jquery.scrolly.min.js"></script>
    <script src="js/skel.min.js"></script>
    <script src="js/util.js"></script>
    <!--[if lte IE 8]><script src="js/ie/respond.min.js"></script><![endif]-->
    <!-- rev-hash -->
    <script src="js/main.js"></script>
    <!-- end -->

    <script type="text/javascript">
        // generate map
        var mymap = L.map('mapid').setView([47.377842, 8.530799], 16);

        L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/streets-v9/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1Ijoic3RhaGwiLCJhIjoiZ2s4SmkzcyJ9.brSDIxU_wQOI5a-2lYnyMw', {
            attribution: 'Map data &copy; <a href="http://www.openstreetmap.org/search?query=47.377842%2C%208.530799#map=18/47.37784/8.53080">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
            maxZoom: 22,
            //id: 'your.mapbox.project.id',
            accessToken: 'pk.eyJ1Ijoic3RhaGwiLCJhIjoiZ2s4SmkzcyJ9.brSDIxU_wQOI5a-2lYnyMw'
        }).addTo(mymap);

        var marker = L.marker([47.377842, 8.530799], {fillColor: 'red', color: 'red'}).addTo(mymap);
    </script>

</body>

</html>